{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": 1,
    "webextensions": 1
  },
  "plugins": ["prettier", "json"],
  "rules": {
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-bitwise": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
