{
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": 1,
    "webextensions": 1,
    "jest": 1
  },
  "plugins": ["prettier", "jest", "json"],
  "rules": {
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-bitwise": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
